<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentación del API COFFCO</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Documentación del API COFFCO</h1>
    <h2>Tabla Rol</h2>
    <table>
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Método</th>
          <th>Descripción</th>
          <th>Parámetros</th>
          <th>Ejemplo de Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>http://localhost:3000/api/rol/registrar</td>
          <td>POST</td>
          <td>Registrar un nuevo rol</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {
                  <br />
                  "rol": "Administrador"<br />
                  }
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Rol registrado correctamente"
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>

        <tr>
          <td>http://localhost:3000/api/rol/listar</td>
          <td>GET</td>
          <td>Obtener todos los roles</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Roles listados correctamente",
	"data": [
		{
			"idRol": 40,
			"rol": "Administrador"
		}
	]
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/rol/listarid/:idRol</td>
          <td>GET</td>
          <td>Obtener un rol por ID</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    {
        "message(200)": "Rol encontrado correctamente",
        "data": {
            "idRol": 40,
            "rol": "Administrador"
        }
    }
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/rol/actualizar/:idRol</td>
          <td>PUT</td>
          <td>Actualizar un rol</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {
                  <br />
                  "rol": "Cliente"
                  <br />
                  }
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Rol actualizado correctamente"
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/rol/eliminar/:idRol</td>
          <td>DELETE</td>
          <td>Eliminar un rol</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Rol eliminado correctamente",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Tabla Usuarios</h2>
    <table>
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Método</th>
          <th>Descripción</th>
          <th>Parámetros</th>
          <th>Ejemplo de Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>http://localhost:3000/api/usuario/registrar</td>
          <td>POST</td>
          <td>Registrar un nuevo usuario</td>
          <td>
            <ul>
              <li><strong>Header:</strong>Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {
                  <br />
                  "nombre": "Daniel",
                  <br />
                  "apellidos": "Yara",
                  <br />
                  "correo_electronico": "daniel.yara@gmail.com",
                  <br />
                  "password": "daniel2005",
                  <br />
                  "numero_documento": 1083869732,
                  <br />
                  "tipo_documento": "cc",
                  <br />
                  "estado": "activo",
                  <br />
                  "rol": 40
                  <br />
                  }
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Se registro el usuario con exito",
    "message(400)": "El correo electrónico ya está en uso",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/auth/login</td>
          <td>POST</td>
          <td>Autenticar usuario</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Null</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {
                  <br />
                  "id": 1083869732,
                  <br />
                  "password": "daniel2005"
                  <br />
                  }
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    {
        "user": {
            "nombre": "Daniel",
            "rol_usuario": 40,
            "estado": "activo"
        },
        "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyI
        jpbeyJub21icmUiOiJEYW5pZWwiLCJlc3RhZG8iOiJhY3Rpdm8iLCJma
        19pZFJvbCI6NDAsInBhc3N3b3JkIjoiJDJhJDEwJGRROVAxWUFSMGd
        xZVZwV2k5Wm0uSC5JUGpqUFVRdG5jZ1p6SGZLM21aTXRPakJ5NnlacWF
        DIn1dLCJpYXQiOjE3MjI3MzUyOTEsImV4cCI6MTcyMjgyMTY5MX0.OsPJ
        K39Cla57GS-QItnYauF50mhwJWhPagqMCxzyRpc",
        "message(200)": "Usuario autorizado"
    } 
    "message(400)": "Correo electrónico o contraseña incorrectos",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/usuario/listar</td>
          <td>GET</td>
          <td>Obtener todos los usuarios</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)":		{
		"id_usuario": 6,
		"nombre": "Daniel",
		"apellidos": "Yara",
		"correo_electronico": "daniel.yara@gmail.com",
		"password": "$2a$10$dQ9P1YAR0gqeVpWi9Zm.H.IPjjPUQtncgZzHfK3mZMtOjBy6yZqaC",
		"numero_documento": 1083869732,
		"tipo_documento": "cc",
		"estado": "activo",
		"fk_idRol": 40
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/usuario/listarid/:id_usuario</td>
          <td>GET</td>
          <td>Obtener un usuario por ID</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": 	{
		"id_usuario": 6,
		"nombre": "Daniel",
		"apellidos": "Yara",
		"correo_electronico": "daniel.yara@gmail.com",
		"password": "$2a$10$dQ9P1YAR0gqeVpWi9Zm.H.IPjjPUQtncgZzHfK3mZMtOjBy6yZqaC",
		"numero_documento": 1083869732,
		"tipo_documento": "cc",
		"estado": "activo",
		"fk_idRol": 40
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/usuario/actualizar/:id_usuario</td>
          <td>PUT</td>
          <td>Actualizar un usuario</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {
                  <br />
                  "nombre": "Daniel ACTUALIZADO",
                  <br />
                  "apellidos": "Yara ACTUALIZADO",
                  <br />
                  "correo_electronico": "daniel.yara@gmail.com",
                  <br />
                  "password": "daniel2005",
                  <br />
                  "numero_documento": 1083869732,
                  <br />
                  "tipo_documento": "cc",
                  <br />
                  "estado": "activo",
                  <br />
                  "rol": 40
                  <br />
                  }
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Usuario actualizado",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/usuario/eliminar/:id_usuario</td>
          <td>DELETE</td>
          <td>Eliminar un usuario</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "El usuario se elimiino con exito",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Tabla Municipio</h2>
    <table>
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Método</th>
          <th>Descripción</th>
          <th>Parámetros</th>
          <th>Ejemplo de Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>http://localhost:3000/api/municipio/registrar</td>
          <td>POST</td>
          <td>Registrar un nuevo municipio</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {
                  <br />
                  "nombre_municipio": "Pitalito"<br />
                  }
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "El dato se registró correctamente",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>

        <tr>
          <td>http://localhost:3000/api/municipio/listar</td>
          <td>GET</td>
          <td>Obtener todos los municipios</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)":	
	{
		"id_municipio": 3,
		"nombre_municipio": "Pitalito"
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/municipio/listarid/:id</td>
          <td>GET</td>
          <td>Obtener un municipio por ID</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": 
	{
		"id_municipio": 3,
		"nombre_municipio": "Pitalito"
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/municipio/actualizar/:id</td>
          <td>PUT</td>
          <td>Actualizar un municipio</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {
                  <br />
                  "nombre_municipio": "Isnos"
                  <br />
                  }
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Se actualizó con éxito el municipio",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/municipio/eliminar/:id</td>
          <td>DELETE</td>
          <td>Eliminar un municipio</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Municipio eliminado correctamente",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Tabla Finca</h2>
    <table>
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Método</th>
          <th>Descripción</th>
          <th>Parámetros</th>
          <th>Ejemplo de Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>http://localhost:3000/api/finca/registrar</td>
          <td>POST</td>
          <td>Registrar una nueva finca</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {
                  <br />
                  "nombre_finca": "Finca El Paraíso",
                  <br />
                  "fk_id_municipio": 4
                  <br />
                  }
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Se registró con éxito la finca",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>

        <tr>
          <td>http://localhost:3000/api/finca/listar</td>
          <td>GET</td>
          <td>Obtener todas las fincas</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)":	
    {
		"id_finca": 3,
		"nombre_finca": "Finca El Paraíso",
		"fk_id_municipio": 4
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/finca/listarid/:id_finca</td>
          <td>GET</td>
          <td>Obtener una finca por ID</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": 
    {
		"id_finca": 3,
		"nombre_finca": "Finca El Paraíso",
		"fk_id_municipio": 4
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/finca/actualizar/:id_finca</td>
          <td>PUT</td>
          <td>Actualizar una finca</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {
                  <br />
                  "nombre_finca": "Finca El Paraíso ACTUALIZADO",
                  <br />
                  "fk_id_municipio": 4
                  <br />
                  }
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Se actualizó con éxito la finca",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/finca/eliminar/:id_finca</td>
          <td>DELETE</td>
          <td>Eliminar un finca</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Se eliminó con éxito la finca",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Tabla Muestra</h2>
    <table>
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Método</th>
          <th>Descripción</th>
          <th>Parámetros</th>
          <th>Ejemplo de Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>http://localhost:3000/api/muestra/registrar</td>
          <td>POST</td>
          <td>Registrar una nueva muestra</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {
                  <br />
                  "cantidadEntrada": 150.5,
                  <br />
                  "fk_id_finca": 4,
                  <br />
                  "fecha_muestra": "2024-08-01",
                  <br />
                  "codigo_muestra": "M12345",
                  <br />
                  "fk_id_usuarios": 7
                  <br />
                  }
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "se registro correctamente ",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>

        <tr>
          <td>http://localhost:3000/api/muestra/listar</td>
          <td>GET</td>
          <td>Obtener todas las muestras</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)":	
    {
		"id_muestra": 2,
		"cantidadEntrada": 150.5,
		"fk_id_finca": 4,
		"fecha_muestra": "2024-08-01T05:00:00.000Z",
		"codigo_muestra": "M12345",
		"fk_id_usuarios": 7
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/muestra/listarid/:id</td>
          <td>GET</td>
          <td>Obtener una muestra por ID</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": 
	{
		"id_muestra": 2,
		"cantidadEntrada": 150.5,
		"fk_id_finca": 4,
		"fecha_muestra": "2024-08-01T05:00:00.000Z",
		"codigo_muestra": "M12345",
		"fk_id_usuarios": 7
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/muestra/actualizar/:id</td>
          <td>PUT</td>
          <td>Actualizar una muestra</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {
                  <br />
                  "cantidadEntrada": 150.5,
                  <br />
                  "fk_id_finca": 4,
                  <br />
                  "fecha_muestra": "2024-08-01",
                  <br />
                  "codigo_muestra": "M12345ACTUALIZADO",
                  <br />
                  "fk_id_usuarios": 7
                  <br />
                  }
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "se actualizo con exito ",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/muestra/eliminar/:id</td>
          <td>DELETE</td>
          <td>Eliminar un muestra</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "dato eliminado correctamente",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Tabla Tipo_Servicio</h2>
    <table>
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Método</th>
          <th>Descripción</th>
          <th>Parámetros</th>
          <th>Ejemplo de Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>http://localhost:3000/api/tipoServicio/registrar</td>
          <td>POST</td>
          <td>Registrar un nuevo tipo de servicio</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {
                  <br />
                  "nombreServicio": "trilla"
                  <br />
                  }
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Registrado con éxito",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>

        <tr>
          <td>http://localhost:3000/api/tipoServicio/listar</td>
          <td>GET</td>
          <td>Obtener todos los tipos de servicio</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)":	
	{
		"idTipoServicio": 5,
		"nombreServicio": "trilla"
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/tipoServicio/listar/:id</td>
          <td>GET</td>
          <td>Obtener un tipo de servicio por ID</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": 
	{
		"idTipoServicio": 5,
		"nombreServicio": "trilla"
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/tipoServicio/actualizar/:id</td>
          <td>PUT</td>
          <td>Actualizar un tipo de servicio</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  <ul>
                    {
                    <br />
                    "nombreServicio": "trilla ACTUALIZADO"
                    <br />
                    }
                    <br />
                  </ul>
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Datos actualizados con éxito",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/tipoServicio/eliminar/:id</td>
          <td>DELETE</td>
          <td>Eliminar un tipo de servicio</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Datos eliminados con éxito",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Tabla Precio</h2>
    <table>
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Método</th>
          <th>Descripción</th>
          <th>Parámetros</th>
          <th>Ejemplo de Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>http://localhost:3000/api/precio/registrar</td>
          <td>POST</td>
          <td>Registrar un nuevo precio</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {
                  <br />
                  "estado_precio": "activo",
                  <br />
                  "presentacion": "pergamino",
                  <br />
                  "precio": 120.75,
                  <br />
                  "fk_idTipoServicio": 7
                  <br />
                  }
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Se registró con éxito el precio",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>

        <tr>
          <td>http://localhost:3000/api/precio/listar</td>
          <td>GET</td>
          <td>Obtener todos los precios</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)":	
	{
		"idPrecio": 6,
		"estado_precio": "activo",
		"presentacion": "pergamino",
		"precio": 120.75,
		"fk_idTipoServicio": 7
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/precio/listarid/:idPrecio</td>
          <td>GET</td>
          <td>Obtener un precio por ID</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": 
	{
		"idPrecio": 6,
		"estado_precio": "activo",
		"presentacion": "pergamino",
		"precio": 120.75,
		"fk_idTipoServicio": 7
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/precio/actualizar/:idPrecio</td>
          <td>PUT</td>
          <td>Actualizar un precio</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  <ul>
                    {
                    <br />
                    "estado_precio": "activo",
                    <br />
                    "presentacion": "pergamino ACTUALZADO",
                    <br />
                    "precio": 120.75,
                    <br />
                    "fk_idTipoServicio": 7
                    <br />
                    }
                    <br />
                  </ul>
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Se actualizó con éxito el precio",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/precio/eliminar/:idPrecio</td>
          <td>DELETE</td>
          <td>Eliminar un tipo de servicio</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Se eliminó con éxito el precio",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Tabla Ambiente</h2>
    <table>
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Método</th>
          <th>Descripción</th>
          <th>Parámetros</th>
          <th>Ejemplo de Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>http://localhost:3000/api/ambiente/registrar</td>
          <td>POST</td>
          <td>Registrar un nuevo ambiente</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {
                  <br />
                  "nombre": "Taller trilla",
                  <br />
                  "estado": "activo"
                  <br />
                  }
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Ambiente creado correctamente",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>

        <tr>
          <td>http://localhost:3000/api/ambiente/listar</td>
          <td>GET</td>
          <td>Obtener todos los ambientes</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)":	
	{
		"idAmbiente": 5,
		"nombre_ambiente": "Taller trilla",
		"estado": "activo"
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/ambiente/listarid/:id</td>
          <td>GET</td>
          <td>Obtener un ambiente por ID</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": 
	{
		"idAmbiente": 5,
		"nombre_ambiente": "Taller trilla",
		"estado": "activo"
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/ambiente/actualizar/:id</td>
          <td>PUT</td>
          <td>Actualizar un ambiente</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  <ul>
                    {
                    <br />
                    "nombre": "Taller trilla ACTUALIZADO",
                    <br />
                    "estado": "activo"
                    <br />
                    }
                    <br />
                  </ul>
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Se actualizó con éxito el precio",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/ambiente/eliminar/:id</td>
          <td>DELETE</td>
          <td>Eliminar un ambiente</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Ambiente eliminado correctamente",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Tabla Servicio</h2>
    <table>
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Método</th>
          <th>Descripción</th>
          <th>Parámetros</th>
          <th>Ejemplo de Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>http://localhost:3000/api/servicios/registrar</td>
          <td>POST</td>
          <td>Registrar un nuevo servicio</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {
                  <br />
                  "nombre": "Servicio de Trilla",
                  <br />
                  "fk_idTipoServicio": 7,
                  <br />
                  "fecha": "2024-08-03",
                  <br />
                  "fk_idAmbiente": 6,
                  <br />
                  "fk_idMuestra": 3,
                  <br />
                  "fk_idPrecio": 7,
                  <br />
                  "fk_idUsuarios": 7,
                  <br />
                  "estado": "activo"
                  <br />
                  }
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Dato registrado con éxito",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>

        <tr>
          <td>http://localhost:3000/api/servicios/listar</td>
          <td>GET</td>
          <td>Obtener todos los ambientes</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)":	
	{
		"id_servicios": 3,
		"nombre": "Servicio de Trilla",
		"fk_idTipoServicio": 7,
		"fecha": "2024-08-03T05:00:00.000Z",
		"fk_idAmbiente": 6,
		"fk_idMuestra": 3,
		"fk_idPrecio": 7,
		"fk_idUsuarios": 7,
		"estado": "activo"
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/servicios/listar/:id</td>
          <td>GET</td>
          <td>Obtener un servicio por ID</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": 
	{
		"id_servicios": 3,
		"nombre": "Servicio de Trilla",
		"fk_idTipoServicio": 7,
		"fecha": "2024-08-03T05:00:00.000Z",
		"fk_idAmbiente": 6,
		"fk_idMuestra": 3,
		"fk_idPrecio": 7,
		"fk_idUsuarios": 7,
		"estado": "activo"
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/servicios/actualizar/:id</td>
          <td>PUT</td>
          <td>Actualizar un servicio</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  <ul>
                    {
                    <br />
                    "nombre": "Servicio de Trilla ACTUALIZADO",
                    <br />
                    "fk_idTipoServicio": 7,
                    <br />
                    "fecha": "2024-08-03",
                    <br />
                    "fk_idAmbiente": 6,
                    <br />
                    "fk_idMuestra": 3,
                    <br />
                    "fk_idPrecio": 7,
                    <br />
                    "fk_idUsuarios": 7,
                    <br />
                    "estado": "activo"
                    <br />
                    }
                    <br />
                  </ul>
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Datos actualizados con éxito",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/servicios/eliminar/:id</td>
          <td>DELETE</td>
          <td>Eliminar un servicio</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Datos eliminados con éxito",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Tabla Tipo_Documento</h2>
    <table>
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Método</th>
          <th>Descripción</th>
          <th>Parámetros</th>
          <th>Ejemplo de Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>hhttp://localhost:3000/api/tipodocumento/registrar</td>
          <td>POST</td>
          <td>Registrar un nuevo tipo de documento</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {
                  <br />
                  "nombreDocumento": "Procesos Misionales",
                  <br />
                  "estado": "activo"
                  <br />
                  }
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Dato registrado con éxito",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>

        <tr>
          <td>http://localhost:3000/api/tipodocumento/listar</td>
          <td>GET</td>
          <td>Obtener todos los tipos de documento</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)":	
	{
		"idTipoDocumento": 7,
		"nombreDocumento": "Procesos Misionales",
		"estado": "activo"
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/tipodocumento/listar/:id</td>
          <td>GET</td>
          <td>Obtener un tipo de documento por ID</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": 
	{
		"idTipoDocumento": 7,
		"nombreDocumento": "Procesos Misionales",
		"estado": "activo"
	}
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/tipodocumento/actualizar/:id</td>
          <td>PUT</td>
          <td>Actualizar un tipo de documento</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  <ul>
                    {
                    <br />
                    "nombreDocumento": "Procesos Misionales ACTUALIZADO",
                    <br />
                    "estado": "activo"
                    <br />
                    }
                    <br />
                  </ul>
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Se actualizó con éxito el tipo de documento",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/tipodocumento/eliminar/:id</td>
          <td>DELETE</td>
          <td>Eliminar un servicio</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong>Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Tipo de documento eliminado correctamente",
    "message(400)": "Token no proporcionado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
      </tbody>
    </table>
    <h2>Tabla Documento</h2>
    <table>
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Método</th>
          <th>Descripción</th>
          <th>Parámetros</th>
          <th>Ejemplo de Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>http://localhost:3000/api/documentos/registrar</td>
          <td>POST</td>
          <td>Registrar un nuevo documento</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {<br />
                  "nombre":"FORMATO ENTREGA DE PRODUCTO - SERVICO DE TRILLA",<br />
                  "descripcion":"formato de trilla",<br />
                  "codigo": "ft07",<br />
                  "fecha_emision":"2022-07-02",<br />
                  "servicios":1,<br />
                  "tipo_documento": 1,<br />
                  "logos":[5,6,7]<br />
                  }<br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Se registró con éxito el documento y sus logos.",
    "message(400)": "No se registro el documento." ,
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>

        <tr>
          <td>http://localhost:3000/api/documentos/listar</td>
          <td>GET</td>
          <td>Obtener todos los documento</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)":	
    {
		"id_documentos": 1,
		"nombre": "Formulario ingreso trilla",
		"fecha_carga": "2024-08-02T05:00:00.000Z",
		"descripcion": "formulario para registro de ingreso de muestras para el servicio de trilla ",
		"codigo_documentos": "TR-F-01",
		"fecha_emision": "2024-08-02T05:00:00.000Z",
		"fk_idTipoServicio": 2,
		"fk_idTipoDocumento": 5
	},
	{
		"id_documentos": 28,
		"nombre": "FORMATO ENTREGA DE PRODUCTO - SERVICO DE TRILLA",
		"fecha_carga": "2024-08-02T05:00:00.000Z",
		"descripcion": "formato de trilla",
		"codigo_documentos": "ft07",
		"fecha_emision": "2022-07-02T05:00:00.000Z",
		"fk_idTipoServicio": 1,
		"fk_idTipoDocumento": 1
	}
    "message(400)": "No se encontraron docuementos  en la base de datos",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/documentos/buscar/1</td>
          <td>GET</td>
          <td>Obtener un documento por ID</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": 
    {
		"id_documentos": 1,
		"nombre": "Formulario ingreso trilla",
		"fecha_carga": "2024-08-02T05:00:00.000Z",
		"descripcion": "formulario para registro de ingreso de muestras para el servicio de trilla ",
		"codigo_documentos": "TR-F-01",
		"fecha_emision": "2024-08-02T05:00:00.000Z",
		"fk_idTipoServicio": 2,
		"fk_idTipoDocumento": 5
	}
    "message(400)": "No se ha encontrado el documento solicitado.",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/documentos/actualizar/:id</td>
          <td>PUT</td>
          <td>Actualizar un valor del documento sin cambiar la version</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  <ul>
                    {<br />
                    "nombre":"FORMATO ENTREGA DE PRODUCTOs - SERVICO DE
                    tostion",<br />
                    "descripcion":"formato de tostion",<br />
                    "codigo": "ft08",<br />
                    "fecha_emision":"2022-07-01",<br />
                    "servicios":1,<br />
                    "tipo_documento": 1,<br />
                    "logos":[6,5,7]<br />
                    }
                    <br />
                  </ul>
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Se actualizo con éxito el documento y sus logos.",
    "message(400)": "No se ha podido actualizar el documento.",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/documentos/actualizarversion/28</td>
          <td>DELETE</td>
          <td>
            ACtualizar un documento sin cambiar los valores del que ya existe
          </td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong></li>
            </ul>
            <ul>
              <ul>
                {<br />
                "nombre":"FORMATO ENTREGA DE PRODUCTOs - SERVICO DE tostion",<br />
                "descripcion":"formato de tostion",<br />
                "codigo": "ft08",<br />
                "fecha_emision":"2022-07-01",<br />
                "servicios":1,<br />
                "tipo_documento": 1,<br />
                "logos":[6,5,7]<br />
                }
                <br />
              </ul>
            </ul>
          </td>
          <td>
            <pre>
  {
      "message(200)": "Se actualizo con éxito el documento" ,
      "message(400)": "No se actualizó el documentos." ,
      "message(500)": "Error en el servidor: "
  }
  </pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/documentos/eliminar/:id</td>
          <td>DELETE</td>
          <td>Eliminar un documento</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong>Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Se eliminó con éxito el documentos." ,
    "message(400)": "No se eliminó el documentos." ,
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
      </tbody>
    </table>
    <!--  -->
    <h2>Tabla logo</h2>
    <table>
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Método</th>
          <th>Descripción</th>
          <th>Parámetros</th>
          <th>Ejemplo de Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>http://localhost:3000/api/logo/registrar</td>
          <td>POST</td>
          <td>Registrar un nuevo Logo</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  {<br />
                    "nombre":"Logo Documento",<br />
                    "file":"logo.jpg"<br />
                    }
                    <br />
                  </ul>
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Logo registrado correctamente" ,
    "message(400)": "No se registrado correctamente"  ,
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>

        <tr>
          <td>http://localhost:3000/api/logo/listar</td>
          <td>GET</td>
          <td>Obtener todos los logos</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
              [
              {
                "idLogos": 5,
                "ruta": "documento.png",
                "estado": "inactivo",
                "nombre": "logo sena empresa"
              },
              {
                "idLogos": 6,
                "ruta": "documento.png",
                "estado": "activo",
                "nombre": "logo sena empresa"
              },
              {
                "idLogos": 7,
                "ruta": "documento.png",
                "estado": "activo",
                "nombre": "logo sena "
              },
              {
                "idLogos": 8,
                "ruta": "contrato.png",
                "estado": "activo",
                "nombre": "sena verde"
              }
            ]
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/logo/listarid/5</td>
          <td>GET</td>
          <td>Obtener un logo por ID</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
  {
    "message": "Logo encontrado correctamente",
    "data": [
      {
        "idLogos": 5,
        "ruta": "documento.png",
        "estado": "inactivo",
        "nombre": "logo sena empresa"
      }
    ]
  }
    "message(400)":  "lo siento logo no encontrado",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/logo/actualizar/8</td>
          <td>PUT</td>
          <td>Actualizar un valor del logo  sin cambiar la version</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  <ul>
                   {
                    "nombre": "logo senova",
                    "estado": "inactivo"
                   }
                    <br />
                  </ul>
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Logo actualizado correctamente",
    "message(400)": "No se ha podido actualizar el documento.",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/logo/actualizarversion/28</td>
          <td>PUT</td>
          <td>
            ACtualizar un logo sin cambiar los valores del que ya existen
          </td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong></li>
            </ul>
            <ul>
              <ul>
                {<br />
                  "nombre":"Logo Documento",<br />
                  "file":"logo.jpg"<br />
                  }
                <br />
              </ul>
            </ul>
          </td>
          <td>
            <pre>
  {
      "message(200)":"Logo actualizado correctamente",
      "message(400)": "no se actualizado correctamente" ,
      "message(500)": "Error en el servidor: "
  }
  </pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/logo/eliminar/8</td>
          <td>DELETE</td>
          <td>Eliminar un logo</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong>Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)":"Logo eliminado correctamente" ,
    "message(400)": "No se eliminado correctamente"  ,
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
      </tbody>
    </table>
    
     <h2>Consultas de ingreso segun el los formularios</h2>
     <table>
       <thead>
         <tr>
           <th>Endpoint</th>
           <th>Método</th>
           <th>Descripción</th>
           <th>Parámetros</th>
           <th>Ejemplo de Respuesta</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>http://localhost:3000/api/logo/registrar</td>
           <td>POST</td>
           <td>Trae reportes segun un rango de fechas de los formularios </td>
           <td>
             <ul>
               <li><strong>Header:</strong> Token</li>
               <li>
                 <strong>Body:</strong>
                 <ul>
                  {<br>
                    "formulario":"formulario de ingreso trilla",<br>
                    "fecha_inicio":"2024-08-05",<br>
                    "fecha_fin":"2024-08-05"<br>
                  }<br>
                     <br />
                   </ul>
                 </ul>
               </li>
             </ul>
           </td>
           <td>
             <pre>
 {
     "message(200)": [
     {
       "nombre_documento": "formulario de ingreso trilla",
       "descripcion_documento": "formulario de registro para el ingreso de trilla ",
       "logos": null,
       "version": "V-01",
       "codigo_muestra": "m-02",
       "fecha_muestra": "2024-08-05T05:00:00.000Z",
       "cantidadEntrada": 50,
       "quien_recibe": "Pedro",
       "productor_nombre": "Samuel",
       "tipo_documento": "cc",
       "numero_documento": 909090909,
       "telefono": "2334345343",
       "nombre_municipio": "Acevedo",
       "variables_y_valores": "altura(msnm): 2000, observaciones: para empacar, variedad: caturro rosado"
     },
     {
       "nombre_documento": "formulario de ingreso trilla",
       "descripcion_documento": "formulario de registro para el ingreso de trilla ",
       "logos": null,
       "version": "V-01",
       "codigo_muestra": "m-01",
       "fecha_muestra": "2024-08-01T05:00:00.000Z",
       "cantidadEntrada": 25,
       "quien_recibe": "Jorge",
       "productor_nombre": "Rodrigo",
       "tipo_documento": "cc",
       "numero_documento": 222222,
       "telefono": "322675489",
       "nombre_municipio": "Pitalito",
       "variables_y_valores": "altura(msnm): 2500, observaciones: no aplica, variedad: borbon"
     }
   ] ,
     "message(400)": "No se registrado correctamente"  ,
     "message(500)": "Error en el servidor: "
 }
 </pre
             >
           </td>
         </tr>
 
         
       </tbody>
     </table>

     <h2>Tabla Versiones</h2>
     <table>
       <thead>
         <tr>
           <th>Endpoint</th>
           <th>Método</th>
           <th>Descripción</th>
           <th>Parámetros</th>
           <th>Ejemplo de Respuesta</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>http://localhost:3000/api/versiones/registrar</td>
           <td>POST</td>
           <td>Registrar una nueva version</td>
           <td>
             <ul>
               <li><strong>Header:</strong> Token</li>
               <li>
                 <strong>Body:</strong>
                 <ul>
                  { <br>
                    "version": "v2.7", <br>
                    "fk_id_usuarios": 1, <br>
                    "fk_documentos": 28, <br>
                    "estado": "activo", <br>
                    "nombre_documento": "Anexo 6 - Plantilla Tarea 2.pdf", <br>
                    "fecha_version": "2024-08-03" <br>
                  } <br>
                 </ul>
               </li>
             </ul>
           </td>
           <td>
             <pre>
 {
     "message(200)": "Se registró con éxito la versión",
     "message(400)": "No se registró ningúna version" ,
     "message(500)": "Error en el servidor: "
 }
 </pre
             >
           </td>
         </tr>
 
         <tr>
           <td>http://localhost:3000/api/versiones/listar	</td>
           <td>GET</td>
           <td>Obtener todas las versiones</td>
           <td>
             <ul>
               <li><strong>Header:</strong> Token</li>
               <li><strong>Body:</strong> Null</li>
             </ul>
           </td>
           <td>
             <pre>
 {
     "message(200)":	
     {
      "idVersion": 30,
      "version": "1.0",
      "fk_id_usuarios": 1,
      "fk_documentos": 28,
      "estado": "inactivo",
      "nombre_documento": "Hoja de vida Miguel Angel Osorio Rojas (2).pdf",
      "fecha_version": "2024-08-03T19:00:09.000Z"
    },
    {
      "idVersion": 32,
      "version": "v2.1",
      "fk_id_usuarios": 1,
      "fk_documentos": 28,
      "estado": "inactivo",
      "nombre_documento": "instalaciones de untu virtual box dependencias.docx",
      "fecha_version": "2024-08-03T19:03:08.000Z"
    },
    {
      "idVersion": 33,
      "version": "v2.3",
      "fk_id_usuarios": 1,
      "fk_documentos": 28,
      "estado": "activo",
      "nombre_documento": "Anexo 6 - Plantilla Tarea 2.pdf",
      "fecha_version": "2024-08-03T05:00:00.000Z"
    }
     "message(400)": "No se encontraron docuementos  en la base de datos",
     "message(500)": "Error en el servidor: "
 }
 </pre
             >
           </td>
         </tr>
         <tr>
           <td>http://localhost:3000/api/versiones/listarid/:id</td>
           <td>GET</td>
           <td>Obtener una version por ID</td>
           <td>
             <ul>
               <li><strong>Header:</strong> Token</li>
               <li><strong>Body:</strong> Null</li>
             </ul>
           </td>
           <td>
             <pre>
 {
     "message(200)": 
     {
      "idVersion": 30,
      "version": "1.0",
      "fk_id_usuarios": 1,
      "fk_documentos": 28,
      "estado": "inactivo",
      "nombre_documento": "Hoja de vida Miguel Angel Osorio Rojas (2).pdf",
      "fecha_version": "2024-08-03T19:00:09.000Z"
    }
     "message(400)": "No se ha encontrado el documento solicitado.",
     "message(500)": "Error en el servidor: "
 }
 </pre
             >
           </td>
         </tr>
         <tr>
           <td>http://localhost:3000/api/versiones/actualizarVersion/:id</td>
           <td>PUT</td>
           <td>Actualizar un valor del documento sin cambiar la version</td>
           <td>
             <ul>
               <li><strong>Header:</strong> Token</li>
               <li>
                 <strong>Body:</strong>
                 <ul>
                   <ul>
                    { <br>
                      "version": "1.1", <br>
                      "fk_id_usuarios": 1, <br>
                      "fk_documentos": 28, <br>
                      "estado": "inactivo", <br>
                      "nombre_documento": "Hoja de vida Miguel Angel Osorio Rojas (2).pdf", <br>
                      "fecha_version": "2024-08-03T19:00:09.000Z" <br>
                    } <br>
                     <br />
                   </ul>
                 </ul>
               </li>
             </ul>
           </td>
           <td>
             <pre>
 {
     "message(200)": "Se actualizó con éxito la version.",
     "message(400)": "No se actualizó version",
     "message(500)": "Error en el servidor: "
 }
 </pre
             >
           </td>
         </tr>
         <tr>
           <td>http://localhost:3000/api/versiones/actualizarversion/28</td>
           <td>PUT</td>
           <td>
             Actualizar la version de una version
           </td>
           <td>
             <ul>
               <li><strong>Header:</strong> Token</li>
               <li><strong>Body:</strong></li>
             </ul>
             <ul>
               <ul>
                 {<br />
                 "nombre":"FORMATO ENTREGA DE PRODUCTOs - SERVICO DE tostion",<br />
                 "descripcion":"formato de tostion",<br />
                 "codigo": "ft08",<br />
                 "fecha_emision":"2022-07-01",<br />
                 "servicios":1,<br />
                 "tipo_documento": 1,<br />
                 "logos":[6,5,7]<br />
                 }
                 <br />
               </ul>
             </ul>
           </td>
           <td>
             <pre>
   {
       "message(200)": "Se actualizo con éxito el documento" ,
       "message(400)": "No se actualizó el documentos." ,
       "message(500)": "Error en el servidor: "
   }
   </pre
             >
           </td>
         </tr>
         <tr>
           <td>http://localhost:3000/api/versiones/actualizarEstado/:id_formato</td>
           <td>PUT</td>
           <td>Actualizar el estado de una version</td>
           <td>
             <ul>
               <li><strong>Header:</strong> Token</li>
               <li><strong>Body:</strong>	{"estado": "activo"}</li>
             </ul>
           </td>
           <td>
             <pre>
 {
     "message(200)": Se cambio  con éxito el estado a ${estado} ,
     "message(400)": "dato no encontrado" ,
     "message(500)": "Error en el servidor: "
 }
 </pre

            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/versiones/eliminar/:id</td>
          <td>DELETE</td>
          <td>Eliminar una version</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong>Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Se eliminó con éxito la version." ,
    "message(400)": "No se eliminó la version." ,
    "message(500)": "Error en el servidor: "
}
</pre
             >
             
           </td>
         </tr>
       </tbody>
     </table>






     <h2>Tabla Variables</h2>
    <table>
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Método</th>
          <th>Descripción</th>
          <th>Parámetros</th>
          <th>Ejemplo de Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>http://localhost:3000/api/variables/registrar	</td>
          <td>POST</td>
          <td>Registrar una nueva variable</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  { <br>
                    "nombre": "cantidad", <br>
                    "estado": "activo", <br>
                    "fk_idVersiones": 0 <br>
                  } <br>
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Variable registrada exitosamente"
    "message(400)": "Variable no registrada",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>

        <tr>
          <td>http://localhost:3000/api/variables/listar</td>
          <td>GET</td>
          <td>Obtener todas los variables</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": 
    {
      "idVariable": 1,
      "nombre": "temperatura",
      "estado": "activo",
      "fk_idVersiones": 0
    },
    {
      "idVariable": 3,
      "nombre": "cantidad",
      "estado": "activo",
      "fk_idVersiones": 0
    }
    "message(400)": 'No hay variables registradas',
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/variables/listarid/:id</td>
          <td>GET</td>
          <td>Obtener una variable por ID</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    
        "message(200)": 
        {
          "idVariable": 2,
          "nombre": "temperatura",
          "estado": "activo",
          "fk_idVersiones": 0
        }
    "message(400)": "Variable no encontrada",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/variables/actualizar/:id</td>
          <td>PUT</td>
          <td>Actualizar una variable</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  { <br>
                    "nombre": "temperatura ACTUALIZADO", <br>
                    "estado": "activo", <br>
                    "fk_idVersiones": 0 <br>
                  } <br>
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "se actualizo con exito la variable"
    "message(400)": "no se actualizo la variable",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/variables/eliminar/:id</td>
          <td>DELETE</td>
          <td>Eliminar una variable</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Variable eliminada correctamente",
    "message(400)": "Variable no eliminada correctamente",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
      </tbody>
    </table>










    <h2>Tabla Valor</h2>
    <table>
      <thead>
        <tr>
          <th>Endpoint</th>
          <th>Método</th>
          <th>Descripción</th>
          <th>Parámetros</th>
          <th>Ejemplo de Respuesta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>http://localhost:3000/api/valor/registrar</td>
          <td>POST</td>
          <td>Registrar un nuevo valor</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  { <br>
                    "valor": "150.25", <br>
                    "servicio": 4, <br>
                    "variable": 1 <br>
                  } <br>
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Dato ingresado con exito"
    "message(400)": "Datos no registrados",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>

        <tr>
          <td>http://localhost:3000/api/valor/listar</td>
          <td>GET</td>
          <td>Obtener todos los valores</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)":
    {
      "idValor": 1,
      "valor": "150.25",
      "fk_idServicios": 4,
      "fk_idVariable": 1
    }
    "message(400)": "No hay datos registrados",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/valor/listar/:id</td>
          <td>GET</td>
          <td>Obtener un valor por ID</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    
        "message(200)": 
        {
          "idValor": 1,
          "valor": "150.25",
          "fk_idServicios": 4,
          "fk_idVariable": 1
        }
    "message(400)": "El dato no existe",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/valor/actualizar/:id</td>
          <td>PUT</td>
          <td>Actualizar un valor</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li>
                <strong>Body:</strong>
                <ul>
                  { <br>
                    "idValor": 1, <br>
                    "valor": "550.27", <br>
                    "fk_idServicios": 4, <br>
                    "fk_idVariable": 1 <br>
                  } <br>
                  <br />
                </ul>
              </li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Datos actualizados con exito"
    "message(400)": "Datos no actualizados",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
        <tr>
          <td>http://localhost:3000/api/valor/eliminar/:id</td>
          <td>DELETE</td>
          <td>Eliminar un valor</td>
          <td>
            <ul>
              <li><strong>Header:</strong> Token</li>
              <li><strong>Body:</strong> Null</li>
            </ul>
          </td>
          <td>
            <pre>
{
    "message(200)": "Datos eliminados con exito",
    "message(400)": "Error al eliminar datos",
    "message(500)": "Error en el servidor: "
}
</pre
            >
          </td>
        </tr>
      </tbody>
    </table>






  </body>
</html>
